.contact-form-wrapper {
    padding: 25px 0 25px 0;
    position: relative;
    background: #f1f2f2;
}

.inner-banner-content {
    min-height: auto;
    padding: 15px 0;
    background: #f5f9fa;
}

.contact-form-inner form {
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 25px;
    border-top: 2px solid #c76392;
    background: #fff;
}

.contact-form-inner form .form-group {
    margin-bottom: 10px;
}

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-arrow:before {
    content: "\f100";
}

.flaticon-team:before {
    content: "\f101";
}

.flaticon-calendar:before {
    content: "\f102";
}

.flaticon-person:before {
    content: "\f103";
}

.flaticon-money:before {
    content: "\f104";
}

.flaticon-clinic:before {
    content: "\f105";
}

.flaticon-user:before {
    content: "\f106";
}

.flaticon-portfolio:before {
    content: "\f107";
}

.flaticon-patient:before {
    content: "\f108";
}

.flaticon-medical-file:before {
    content: "\f109";
}

.flaticon-home-page:before {
    content: "\f10a";
}

textarea {
    height: 400px;
}

.page-link {
    color: #023951;
}

.contact-form-wrapper {
    background: #fff;
}

.contact-form-wrapper .btn-default{
    height: 50px;
    line-height: 1.5;
    text-transform: uppercase;
}

.contact-form-wrapper input[type=checkbox] + label:before {
    content: "";
}

.contact-form-wrapper input[type=checkbox]:checked + label:before {
    content: "";
}

.contact-form-wrapper input[type="checkbox"] {
    display: inline;
}
.applyBtn {
    width : 25%;
    border-radius:4px;
    height: 25px;
    line-height: 1.5;
    text-transform: uppercase;
}
.cancelBtn {
    width : 25%;
    border-radius:4px;
    height: 25px;
    line-height: 1.5;
    text-transform: uppercase;
}